body,
html {
  image-rendering: pixelated;
  margin: 0px;
  padding: 0px;
}

.driver {
  width: 50%;
  position: absolute;
  z-index: -1;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  height: 80%;
  background-color: white;
  outline: 2px dashed #181818;
}

.page {
  margin: 12px;
  width: 70%;
  right: 10%;
  position: absolute;
  height: 90%;
}

.nav {
  position: absolute;
  z-index: 10010;
  left: 0%;
  top: 0%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

.navball {
  position: absolute;
  z-index: 99999;
}

.nav_button {
  position: absolute;
  top: 30px;
  left: 50%;
  z-index: 10009;
  background-color: white;
  width: 46px;
  height: 600px;
  outline: 2px solid #181818;
  transform: translateX(-50%) translateY(-315px) scaleY(0);
  transition: 0.2s;
  transition-timing-function: ease-out;
  border-radius: 0 0 25px 25px;
  padding-top: 15px;
  text-align: center;
}

.nav:hover .nav_button {
  transform: translateX(-50%) translateY(0) scaleY(1);
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  z-index: -1;
}

.popup-content {
  padding: 12px;
  border: solid 2px #181818;
  border-image: url("data/ants.gif") 1 repeat;
}

.popup-title-box {
  transform: translate(-50%) rotate(-5deg);
  z-index: 1;
  width: 30%;
  position: relative;
  left: 50%;
  text-align: center;
  outline: 2px solid #181818;
  font-size: 24px;
  background-color: white;
}

.popup-button {
  transform: translate(-50%, 0) rotate(3deg);
  position: relative;
  z-index: 1;
  width: 30%;
  left: 50%;
  text-align: center;
  font-size: 24px;
  background-color: #181818;
  color: white;
}

.popup-button a {
  all: unset;
  cursor: crosshair;
  position: relative;
}

.popup-button:hover {
  animation: pulse 0.7s steps(1, end) infinite;
}

p {
  margin: 0px;
}

p+p {
  margin-top: 16px;
}

@keyframes pulse {
  0% {
    transform: skew(-3deg) translate(-50%, 0px) scaleX(1) scaleY(1.05);
  }

  10% {
    transform: skew(0deg) translate(-50%, 5px) scaleX(1.07) scaleY(1);
  }

  20% {
    transform: skew(3deg) translate(-50%, -5px) scaleX(0.93) scaleY(0.95);
  }

  30% {
    transform: skew(-3deg) translate(-50%, 0px) scaleX(1) scaleY(1.05);
  }

  40% {
    transform: skew(-3deg) translate(-50%, 0px) scaleX(1) scaleY(1.05);
  }

  50% {
    transform: skew(-3deg) translate(-50%, 0px) scaleX(1) scaleY(1.05);
  }

  60% {
    transform: skew(-3deg) translate(-50%, 0px) scaleX(1) scaleY(1.05);
  }

  70% {
    transform: skew(-3deg) translate(-50%, 0px) scaleX(1) scaleY(1.05);
  }

  80% {
    transform: skew(-3deg) translate(-50%, 0px) scaleX(1) scaleY(1.05);
  }

  90% {
    transform: skew(-3deg) translate(-50%, 0px) scaleX(1) scaleY(1.05);
  }

  100% {
    transform: skew(-3deg) translate(-50%, 0px) scaleX(1) scaleY(1.05);
  }
}
